{% extends "top_level_layout.html" %}

{% block title %}<h1>Build information</h1>{% endblock %}

{% set imp_build_type = {'fast': 'fast build',
                         'release': 'built with only usage checks turned on',
                         'debug': 'built with all checks turned on'}
%}

{%- macro imp_version(result) %}
{%- if result.build.imp_version -%}
version {{ result.build.imp_version }},
{% endif -%}
{{ result.build.imp_date }}
{%- endmacro %}

{% block body %}
<div class="system_summary">
  <p><a href="{{ system.homepage }}">{{ system.title }}</a></p>
  <p class="sysdesc">{{ system.description }}
  <a class="sysmore" href="{{ system.homepage }}">[more...]</a></p>
  <p>This system (using <a href="{{ result.url }}">these input files</a>)
  {{ 'has been verified to work with:' if result.passed
     else 'was tested but <span class="build_fail">does not work</span> with:'|safe }}
  </p>
  <ul>
    {%- if result.use_modeller %}
    <li><a href="//salilab.org/modeller/">MODELLER</a> version {{ result.build.modeller_version }}</li>
    {%- endif %}
    <li><a href="//integrativemodeling.org/">IMP</a> {{ result.build.imp_branch }} branch ({{ imp_version(result) }}), revision <a href="https://github.com/salilab/imp/tree/{{ result.build.imp_githash }}">{{ result.build.imp_githash[:10] }}</a> ({{ imp_build_type[result.imp_build_type] }})</li>
  </ul>
  <hr>
  <p>Detailed test information</p>
  <ul>
  {% for test in tests %}
    {% if test.retcode == 0 %}
    <li>{{ test.name }} passed in {{ test.runtime|timeformat }}</li>
    {% else %}
    <li>{{ test.name }} FAILED with code {{ test.retcode }} (took {{ test.runtime|timeformat }}) and stderr:<br>
      <pre>{{ test.stderr }}</pre>
    </li>
    {% endif %}
  {% endfor %}
 </ul>
</div>
{% endblock %}
