<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
     "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javaScript"
        src="{{ url_for("static", filename="testfunc.js") }}"></script>

<link href="//integrativemodeling.org/nightly/results/tests.css" rel="stylesheet" type="text/css">
<link href="//integrativemodeling.org/fontawesome6/css/fontawesome.min.css" rel="stylesheet" type="text/css">
<link href="//integrativemodeling.org/fontawesome6/css/brands.min.css" rel="stylesheet" type="text/css">
<link href="{{ url_for("static", filename="github.css") }}" rel="stylesheet" type="text/css">

<script type="text/javascript"><!--
window.onload = linkEmail;
-->
</script>

<title>{% block pagetitle %}IMP systems{% endblock %}</title>
</head>

<body>
<div id="header">
<div id="impnav">
   <table class="imptnav">
      <tr>
         <td><a href="//integrativemodeling.org/">
             <img src="//integrativemodeling.org/images/the_imp.png"
              height="60" alt="IMP logo"></a></td>
         <td>
            <div class="implinks">
             <ul>
               <li><a href="//integrativemodeling.org/">home</a></li>
               <li><a href="//integrativemodeling.org/about.html">about</a></li>
               <li><a href="//integrativemodeling.org/news.html">news</a></li>
               <li><a href="//integrativemodeling.org/download.html">download</a></li>
               <li><a href="//integrativemodeling.org/doc.html"
                    title="Manual, tutorials, and reference guide">doc</a></li>
               <li><a href="https://github.com/salilab/imp" title="Source code, maintained at GitHub">source</a></li>
               <li><a href="//integrativemodeling.org/systems/" title="Applications of IMP to real biological systems">systems</a></li>
               <li><a href="//integrativemodeling.org/nightly/results/" title="Results of IMP's internal test suite">tests</a></li>
               <li><a href="https://github.com/salilab/imp/issues" title="Report a bug in IMP">bugs</a></li>
               <li><a href="//integrativemodeling.org/contact.html" title="Mailing lists and email">contact</a></li>
           </ul>
            </div>
         </td>
      </tr>
   </table>
</div>

<div id="impheaderline">
</div>

{% block toplevel_nav %}
{% endblock %}

<div class="linkspacer"></div>

</div>

{% block title %}{% endblock %}

{% block body %}{% endblock %}

</body></html>
