{% set branch_labels = {'master': 'stable release',
                        'develop': 'nightly build'} %}

{%- macro get_build_dest(build, system) -%}
  {{ url_for("build_by_id", build_id=build.id, system_id=system.id) }}
{%- endmacro -%}

{%- macro get_build_text(build) %}
  {%- if build.imp_version -%}
{{ build.imp_version }}
  {%- else -%}
{{ build.imp_date }}
  {%- endif -%}
{%- endmacro %}

{%- macro get_build_link(build, system) %}
  {%- if build.imp_version -%}
    <a href="{{ get_build_dest(build, system) }}"
       title="IMP build on {{ build.imp_date }}">{{ get_build_text(build) }}
    </a>
  {%- else -%}
    <a href="{{ get_build_dest(build, system) }}"
       title="IMP nightly build">{{ get_build_text(build) }}</a>
  {%- endif %}
{%- endmacro %}
