{% set branch_labels = {'master': 'stable release',
                        'develop': 'nightly build'} %}

{%- macro get_build_dest(build, system) -%}
  {{ url_for("build_by_id", build_id=build.id, system_id=system.id) }}
{%- endmacro -%}

{%- macro get_build_text(build) %}
  {%- if build.imp_version -%}
{{ build.imp_version }}
  {%- else -%}
{{ build.imp_date }}
  {%- endif -%}
{%- endmacro %}

{%- macro get_build_link(build, system) %}
  {%- if build.imp_version -%}
    <a href="{{ get_build_dest(build, system) }}"
       title="IMP build on {{ build.imp_date }}">{{ get_build_text(build) }}
    </a>
  {%- else -%}
    <a href="{{ get_build_dest(build, system) }}"
       title="IMP nightly build">{{ get_build_text(build) }}</a>
  {%- endif %}
{%- endmacro %}

{% macro show_links(system) %}
  {% if system.pmid %}
  <a class="pubmed" title="{{ system.pubmed_title }}"
   href="https://www.ncbi.nlm.nih.gov/pubmed/{{ system.pmid }}"><img
   src="{{ url_for("static", filename="images/pubmed.png") }}"
   alt="PubMed logo"></a>
  {% endif %}
  {%- if system.pdbdev_accessions %}
  <a class="pdb_dev" title="This structure is deposited in the PDB-Dev database with accession code{{ 's' if system.pdbdev_accessions|length > 1 }} {{ system.pdbdev_accessions|join(", ") }}"
   href="https://pdb-dev.wwpdb.org/">PDB-Dev</a>
  {% endif %}
{% endmacro %}

{% macro show_tags(system) %}
<div class="tags">Tags
  {%- for tag in system.tags|sort %}
  <a class="tag" href="{{ url_for("summary", tag=tag) }}">{{ tag }}</a>
  {%- endfor %}
</div>
{% endmacro %}
