{% extends "top_level_layout.html" %}

{% from "macros.html" import branch_labels, get_build_link, show_links, show_tags %}

{%- macro show_systems(systems) %}
{% for system in systems %}
<div class="system_summary">
  {%- if system.has_thumbnail() %}
  <div class="thumb">
    <a href="{{ system.homepage }}">
      <img src="//integrativemodeling.org/systems/info/{{ system.name }}/thumb.png"
       alt="thumbnail">
    </a>
  </div>
  {%- endif %}
  <div class="systext">
    <p class="systitle">
      <a href="{{ system.homepage }}">{{ system.title }}</a>{{ show_links(system) }}
    </p>
    <p class="sysdesc">{{ system.description }}
      <a class="sysmore" href="{{ system.homepage }}">[more...]</a>
    </p>

    {%- for branch, test in system.last_build_results|dictsort|reverse %}
    <div class="last_build">
      Last worked with IMP <b>{{ branch_labels[branch] }}</b>
      ({{ branch }} branch):
      {%- if test.passed %}
        {{ get_build_link(test.build, system)}}
      {%- else %}
         <span class="build_fail">never</span>
         (most recent failure: {{ get_build_link(test.build, system) }})
      {%- endif %}
    </div>
    {%- endfor %}

    {{ show_tags(system) }}
  </div>
</div>
{% endfor %}
{%- endmacro %}

{% block title %}<h1>Summary</h1>{% endblock %}

{% block body %}

<p>This page shows a number of applications of
<a href="//integrativemodeling.org/">IMP</a> to
biological systems. They can be adapted to tackle other similar problems,
or to add new input data to an existing system.</p>

<p>Each system links to its web page, where all the input files can be
found, complete with running instructions. Most systems are permanently
archived (via DOIs) at
<a href="https://zenodo.org/collection/user-integrativemodeling">Zenodo</a>;
newer systems are also deposited at
<a href="https://pdb-dev.wwpdb.org/">PDB-Dev</a>.</p>

<p>Every system is periodically tested with the latest version
of IMP to make sure it works. The most recent version of IMP that it
works with is shown below (or see <a href="{{ url_for("all_builds") }}">all builds</a>).</p>

<p>See the
<a href="//integrativemodeling.org/nightly/doc/manual/biosystem.html">IMP
manual</a> for information on adding a new system to this page.</p>

{% if only_tag is not none %}
<p>All systems with the <b>{{ only_tag }}</b> tag are shown.
[<a href="?">Show all systems</a>]
</p>
{% endif %}

<div class="tags">
  <div class="tagdesc">Show only systems with tag</div>
  <div class="taglist">
    {%- for tag in tags %}
    <a class="tag" href="?tag={{ tag }}">{{ tag }}</a>
    {%- endfor %}
  </div>
</div>

{{ show_systems(tested_systems) }}

{% if develop_systems|length > 0 %}
<p>
  <img class="buildstat"
   src="{{ url_for("static", filename="images/warning.png") }}" alt="warning">
  The following systems are still under development and have not yet
  been tested against the public release of IMP:
</p>
{{ show_systems(develop_systems) }}
{% endif %}

{% endblock %}
