{% extends "layout.html" %}

{% set branch_labels = {'master': 'stable release',
                        'develop': 'nightly build'} %}

{%- macro get_build_dest(build, system) -%}
  ?build={{ build.id }}&amp;sys={{ system.id }}
{%- endmacro -%}

{%- macro get_build_link(build, system) %}
  {%- if build.imp_version -%}
    <a href="{{ get_build_dest(build, system) }}"
       title="IMP build on {{ build.imp_date }}">{{ build.imp_version }}
    </a>
  {%- else -%}
    <a href="{{ get_build_dest(build, system) }}"
       title="IMP nightly build">{{ build.imp_date }}</a>
  {%- endif %}
{%- endmacro %}

{%- macro show_systems(systems) %}
{% for system in systems %}
<div class="system_summary">
  {%- if system.has_thumbnail() %}
  <div class="thumb">
    <a href="{{ system.homepage }}">
      <img src="//integrativemodeling.org/systems/{{ system.name }}/thumb.png"
       alt="thumbnail">
    </a>
  </div>
  {%- endif %}
  <div class="systext">
    <p class="systitle">
      <a href="{{ system.homepage }}">{{ system.title }}</a>
      {% if system.pmid %}
      <a class="pubmed" title="{{ system.pubmed_title }}"
       href="https://www.ncbi.nlm.nih.gov/pubmed/{{ system.pmid }}"><img
       src="//integrativemodeling.org/systems/images/pubmed.png"
       alt="PubMed logo"></a>
      {% endif %}
      {%- if system.pdbdev_accessions %}
      <a class="pdb_dev" title="This structure is deposited in the PDB-Dev database with accession code{{ 's' if system.pdbdev_accessions|length > 1 }} {{ system.pdbdev_accessions|join(", ") }}"
       href="https://pdb-dev.wwpdb.org/">PDB-Dev</a>
      {% endif %}
    </p>
    <p class="sysdesc">{{ system.description|striptags|replace('FRETR', 'FRET<sub>R</sub>')|safe }}
      <a class="sysmore" href="{{ system.homepage }}">[more...]</a>
    </p>

    {%- for branch, build in system.last_builds|dictsort %}
    <div class="last_build">
      Last worked with IMP <b>{{ branch_labels[branch] }}</b>
      ({{ branch }} branch):
      {%- if build.retcode == 0 %}
        {{ get_build_link(build, system)}}
      {%- else %}
         <span class="build_fail">never</span>
         (most recent failure: {{ get_build_link(build, system) }})
      {%- endif %}
    </div>
    {%- endfor %}

    <div class="tags">Tags
      {%- for tag in system.tags|sort %}
      <a class="tag" href="?tag={{ tag }}">{{ tag }}</a>
      {%- endfor %}
    </div>
  </div>
</div>
{% endfor %}
{%- endmacro %}

{% block title %}Summary{% endblock %}

{% block body %}

<p>This page shows a number of applications of
<a href="//integrativemodeling.org/">IMP</a> to
biological systems. They can be adapted to tackle other similar problems,
or to add new input data to an existing system.</p>

<p>Each system links to its web page, where all the input files can be
found, complete with running instructions. Most systems are also permanently
archived (via DOIs) at
<a href="https://zenodo.org/collection/user-integrativemodeling">Zenodo</a>.</p>

<p>Every system is periodically tested with the latest version
of IMP to make sure it works. The most recent version of IMP that it
works with is shown below (or see <a href="?p=full">all builds</a>).</p>

<p>See the
<a href="//integrativemodeling.org/nightly/doc/manual/biosystem.html">IMP
manual</a> for information on adding a new system to this page.</p>

{% if only_tag is not none %}
<p>All systems with the <b>{{ only_tag }}</b> tag are shown.
[<a href="?">Show all systems</a>]
</p>
{% endif %}

<div class="tags">
  <div class="tagdesc">Show only systems with tag</div>
  <div class="taglist">
    {%- for tag in tags %}
    <a class="tag" href="?tag={{ tag }}">{{ tag }}</a>
    {%- endfor %}
  </div>
</div>

{{ show_systems(tested_systems) }}

{% if develop_systems|length > 0 %}
<p>
  <img class="buildstat"
   src="//integrativemodeling.org/systems/images/warning.png" alt="warning">
  The following systems are still under development and have not yet
  been tested against the public release of IMP:
</p>
{{ show_systems(develop_systems) }}
{% endif %}

{% endblock %}
